.side-bar {
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
    position: fixed;
    top: 60px;
    width: 70px;
}
.side-bar-butttons {
    align-items: center;
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 74px;
    justify-content: center;
}
.side-bar-butttons:hover {
    background-color: rgb(226, 223, 223);
}
.side-bar-icons {
    height: 24px;
    padding-bottom: 6px;
}
.side-bar-butttons-name {
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
}
